:root {
    --main-background-color: #C1DBFF;
    --block-card-color:#FFE7FF;
    --block-buttons-color: #88EAE4;
    --backgrund-title: #FBCAFB;
    --header-color: #FFE7FF50;
    --buttons: #0099CC;
}